<?xml version = "1.0" encoding ="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Automation regression"  thread-count ="3" parallel ="tests" verbose="1" >  
  <test name="Google Test" >     
     <classes>
       <class name="TestNgSessions.GoogleTestBeforeMethod" />
    </classes>
  </test> 
  <test name="Flipcart Test ">
    <classes>
      <class name="TestNgSessions.NoonTest"/>    
    </classes>
  </test>    
    <test name="Noon Test ">
    <classes>
      <class name="TestNgSessions.FlipCartTest"/>   
    </classes>
  </test>   
</suite>
